.container-fluid {
  position: relative;
}

.content-trade {
  margin-right: 3px;
  margin-top: 10px;
  color: white;
  background-color: black;
  text-align: left;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.card {
  padding-left: 0px;
  border-radius: 0;
}

.product-name {
  font-weight: bold;
  padding-left: 10px;
}
.product-notes {
  color: black;
  font-size: small;
  padding-left: 10px;
}
.compare-checkbox {
  margin: 10px;
}
.product-color {
  margin-top: 10px;
  padding-left: 5px;
}
.product-compare {
  padding: 0;
}
.product-purchase {
  margin-top: 20px;
  padding-left: 10px;
}
p {
  margin-bottom: 0px;
  font-size: small;
}
a {
  color: black;
}
span {
  margin-left: 3px;
}
.dot-1 {
  background-color: #9bb5ce;
}
.dot-2 {
  background-color: #570861;
}
.dot-3 {
  background-color: #171e27;
}
.dot-4 {
  background-color: #a50011;
}
.dot-5 {
  background-color: #f9f3ee;
}
.dot {
  height: 15px;
  width: 15px;
  margin-right: 4px;
  border-radius: 50%;
  display: inline-block;
}

.compare-checkbox {
  cursor: pointer;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  position: absolute;
  width: 100%;
  height: auto;
  top: -100px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  margin-left: auto;
  margin-right: auto;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}

.compare-card {
  opacity: none !important;
}

@media only screen and (max-width: 576px) {
  img {
    width: 100px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 768px) {
  img {
    width: 250px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.upcoming-product {
  height: 400px;
  width: 300px;
  display: block;
  margin-left: 0;
  margin-right: 0;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card {
  background-color: white;
  opacity: 1 !important;
}

button {
  background-color: white;
  border: 1px solid black;
  color: black;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;

  cursor: pointer;
  border-radius: 16px;
}
