<h1>Compare Products</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="row">Product Image</th>
            <th scope="col" *ngFor="let product of compareList"><img src="{{product.mobile}}" alt=""
                    class=" image-cap" /></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Mobile Name:</th>
            <td *ngFor="let product of compareList">
                {{product.mobile_model}}</td>
        </tr>
        <tr>
            <th scope="row">Retail Price</th>
            <td *ngFor="let product of compareList">
                {{product.retail_price}}</td>
        </tr>
        <tr>
            <th scope="row">EMI</th>
            <td *ngFor="let product of compareList">
                {{product.emi}}</td>
        </tr>
    </tbody>
</table>



<!-- <div class="container">
    <div class="row">
        <div class="col" *ngFor="let product of compareList"><img src="{{product.mobile}}" alt="">
            <p class="product-name">{{product.mobile_model}}</p>
            <p class="product-notes">{{product.retail_price}}</p>
            <p class="product-notes">{{product.emi}}</p>
        </div>
    </div>
</div> -->


<!-- <div class="row">
    <div class="col-6 col-md-3" *ngFor="let product of compareList">
        <div class="card">
            <p class="content-trade">{{product.discount}}</p>
            <img src="{{product.mobile}}" alt="" class=" image-cap" />
            <p class="product-name">{{product.mobile_model}}</p>
            <p class="product-notes">{{product.emi}}</p>
            <a class="product-notes" routerLink="/details">Details</a>
            <p class="product-notes">{{product.offer}}</p>
            <p class="product-notes">{{product.retail_price}}</p>
        </div>
    </div>
</div> -->