<div class="container">
  <mat-card>
    <form [formGroup]="newForm" (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>E-mail</mat-label>
        <input type="email" matInput placeholder="Ex. max@example.com" formControlName="email" autocomplete="off" />
        <mat-error>Please enter a valid Email Address!</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Password</mat-label>
        <input type="password" formControlName="password" matInput placeholder="Password"
          [type]="hide ? 'password' : 'text'" autocomplete="off" />
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
        <mat-error>Password is required!</mat-error>
      </mat-form-field>

      <button class="logBtn" mat-raised-button color="accent" type="submit">
        Login
      </button>

      <div>
        <a>Don't have an account?</a>
        <button class="smlBtn" mat-raised-button color="accent" routerLink="/signup">
          Sign Up
        </button>
      </div>
    </form>
  </mat-card>
</div>
